.calculator {
    padding: 20px;
    border-radius: 15px;
    height: 380px;
    width: 200px;
    margin: auto;
    background-color: rgb(102, 87, 87);
    box-shadow: rgba(195, 195, 218, 0.4);
    justify-content: space-evenly;
   }

td{
   
    background-color: rgba(102, 87, 87);
    border-radius: 160px;
    text-align: center;
    border-color: rgba(102, 87, 87);
   }

}

}
input[type="button"]:hover{
    background-color: rgb(184, 184, 184);
    border-radius: 160px;
    padding: 10;
}
.grey{
    background-color: rgb(221, 30, 30);
    border-color: gray;
    border-radius: 160px;
}
.plus:hover{
        background-color: rgb(10, 9, 9);
        color: white;
        margin-left: 1px;  
        border-radius: 160px;
    
    }  
    input[type="search"]{
        
    }
